<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Heroku weather app</p>
        <p>This site was created by Artem Timalchuk. It uses data from mapbox.com and weatherstack.com</p>
    </div>
    
    {{>footer}}
</body>

</html>